<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus/dist/index.css" />
    <!-- Import Vue 3 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@next"></script>
    <!-- Import component library -->
    <script src="https://cdn.jsdelivr.net/npm/element-plus"></script>
    <!-- Import MQTT.js -->
    <script src="https://unpkg.com/mqtt@4.3.2/dist/mqtt.min.js"></script>

    <style>
        .el-header {
            text-align: center;
            color: var(--el-text-color-primary);
            line-height: 60px;
        }

        .card-header {
            text-align: center;
            color: var(--el-text-color-primary);
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header>
                <span>Card name</span>
            </el-header>
            <el-row justify="center">
                <el-col :xs="23" :sm="16" :md="16">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="12">
                            <el-card>
                                <template #header>
                                    <div class="card-header">
                                        <span>Oxygen Saturation(%)</span>
                                    </div>
                                </template>
                                <el-row justify="center">
                                    <el-progress
                                        type="dashboard"
                                        :percentage="oxygenData"
                                        :color="colors" />
                                </el-row>
                            </el-card>
                        </el-col>
                        <el-col :xs="24" :sm="12">
                            <el-card>
                                <template #header>
                                    <div class="card-header">
                                        <span>Heart Rate(bpm)</span>
                                    </div>
                                </template>
                                <el-row justify="center">
                                    <el-progress
                                        type="dashboard"
                                        :percentage="heartRateData / calibrate"
                                        :color="colors">
                                        <template #default="{ percentage }">
                                            <span>
                                                {{ percentage * calibrate }} bpm
                                            </span>
                                        </template>
                                    </el-progress>
                                </el-row>
                            </el-card>
                        </el-col>
                        <el-col>
                            <el-card>
                                <template #header>
                                    <div class="card-header">
                                        <span>Control</span>
                                    </div>
                                </template>
                                <el-form>
                                    <el-form-item label="開始訓練">
                                        <el-switch v-model="controlData.start">
                                    </el-form-item>
                                    <el-form-item label="壓力大小">
                                        <el-input-number
                                            v-model="controlData.stress"
                                            :min="1"
                                            :max="10" />
                                    </el-form-item>
                                </el-form>
                            </el-card>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>
        </el-container>
    </div>

    <script>
        const App = {
            created() {
                // demo the data from nodeMCU
                this.timer = window.setInterval(() => {
                    this.client.publish(
                        this.connection.biomedicalTopic,
                        JSON.stringify(
                            {
                                'oxygen': Math.floor(Math.random() * 30),
                                'heartRate': Math.floor(Math.random() * 160),
                            }
                        )
                    )
                }, 1000)
            },
            mounted() {
                this.initMQTTClient()
            },
            data() {
                return {
                    counter: 0,
                    oxygenData: 0,
                    heartRateData: 0,
                    calibrate: 1.6,
                    colors: [
                        { color: '#f56c6c', percentage: 80 },
                        { color: '#5cb87a', percentage: 100 },
                    ],
                    controlData: {
                        start: false,
                        stress: 5,
                    },
                    // connection: {
                    //     host: '192.168.0.200',
                    //     port: 9001,
                    //     controlTopic: 'control',
                    //     biomedicalTopic: 'biomedical',
                    // },
                    // test connection
                    connection: {
                        host: 'test.mosquitto.org',
                        port: 8081,
                        controlTopic: 'control',
                        biomedicalTopic: 'biomedical',
                    },
                }
            },
            methods: {
                initMQTTClient() {
                    let data = this.controlData
                    const { host, port, controlTopic, biomedicalTopic } = this.connection
                    const connectUrl = `wss://${host}:${port}`
                    this.client = mqtt.connect(connectUrl)
                    this.client.on('connect', () => {
                        this.client.subscribe(biomedicalTopic)
                        this.client.publish(controlTopic, JSON.stringify(data))
                    })

                    this.client.on('message', (topic, message) => {
                        // parse oxygen data
                        let jsonData = JSON.parse(message.toString())
                        this.oxygenData = jsonData.oxygen
                        this.heartRateData = jsonData.heartRate
                    })
                },
            },
            watch: {
                controlData: {
                    handler: function (val) {
                        this.client.publish(
                            this.connection.controlTopic,
                            JSON.stringify(this.controlData)
                        )
                        console.log(val);
                    },
                    deep: true,
                }
            }
        }
        const app = Vue.createApp(App)
        app.use(ElementPlus)
        app.mount('#app')
    </script>
</body>

</html>